.slide ul,
.slide li > div {
  display: block !important;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  -o-transform: translate3d(0, 50px, 0);
  -ms-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: visibility 0s linear 0.2s, -webkit-transform 0.2s linear, opacity 0.2s linear;
  -moz-transition: visibility 0s linear 0.2s, -moz-transform 0.2s linear, opacity 0.2s linear;
  -o-transition: visibility 0s linear 0.2s, -o-transform 0.2s linear, opacity 0.2s linear;
  -ms-transition: visibility 0s linear 0.2s, -ms-transform 0.2s linear, opacity 0.2s linear;
  transition: visibility 0s linear 0.2s, transform 0.2s linear, opacity 0.2s linear;
}
.slide li:hover > ul,
.slide li:hover > div,
.slide li:hover > div ul {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.slide > li > a .bubble-top {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
}
.slide > li > a:hover .bubble-top {
  -webkit-transform: translate3d(0, -3px, 0);
  -moz-transform: translate3d(0, -3px, 0);
  -o-transform: translate3d(0, -3px, 0);
  -ms-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}
