{include "site/common/header.tpl"}

    <!-- Index Content -->
    
    <div class="span8">
        
        {*<div class="page-header">
            <h2><i class="icon-search"></i> <span>Categorias mais </span>Procuradas</h2>
        </div>
        <!-- Top Videos -->
        <section id="videos">
            <div class="videos">
                <div class="show-all">
                    <a href="#"><i class="icon-double-angle-right"></i> Exibir todas</a>
                </div>
                <div class="row">
                    {foreach $categoriaDestaque as $cat}
                    <div class="span2">
                        <div class="item">
                            <a href="/{$smarty.cookies.state|default:'todos-estados'|lower|replace:' ':'-'}/{$smarty.cookies.city|default:'todas-cidades'|lower|replace:' ':'-'}/{$cat.category_name|lower|replace:' ':'-'}">
                                <figure>
                                    <img src="/public/site/icons/{$cat.icon}" width="320" height="180" alt="">
                                </figure>
                            </a>
                            <h6><a href="#Link p/ Serviço">Serviço 01</a>, <a href="#Link p/ Serviço">Serviço 01</a>, <a href="#Link p/ Serviço">Serviço 01</a>, <a href="#Link p/ Serviço">Serviço 01</a>, <a href="#Link p/ Serviço">Serviço 01</a>, <a href="#Link p/ Serviço">Serviço 01</a>.</h6>
                        </div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </section>
        <!-- End Top Videos -->*}
        
    </div>
                
    <!-- End Index Content -->
    {include "site/common/asside.tpl"}
{include "site/common/footer.tpl"}
