{include "site/common/header.tpl"}

    <!-- Index Content -->
    <div class="span8">
        <div class="page-header">
            <h2><i class="icon-play-circle"></i> <span>Representantes</span></h2>
        </div>
        
            Buscando o melhor para quem anuncia conosco pensamos em ter um representante em cada bairro.
            Lista de Representantes:
            RJ – SP – SC...

            Como posso me tornar um representante?
            Simples, você precisa apenas cadastrar 10 empresas no plano gratuito em nosso portal e 5 patrocinados.
            O que um representante ganha?
            De 1 até 5 empresas no plano patrocinado o representante ganha 10%.
            De 6 até 30 empresas no plano patrocinado o representante ganha 20%.
            Acima de 30 empresas no plano patrocinado o representante pode ter um apoio publicitário como: Outdoor, anúncio em rádio, carro de som, etc.


            Conheça outros projetos desenvolvidos pela H1 Internet.
            Escolar Transporte
        
    </div>
    <!-- End Index Content -->
    {include "site/common/asside.tpl"}
{include "site/common/footer.tpl"}