{if $userName != null}
    {*<a href="/painel/"><button class="btn btn-primary btn-mini">Painel de Controle</button></a>*}
    <center><a href="/painel/logoff" target="_blank"><button class="btn btn-danger btn-mini" onclick="window.setTimeout(function() { location.reload() } ,1500);">Sair</button></a></center>
{else}
    <form action="/auth/login" method="post" onsubmit="window.location.reload();" target="_blank">
    <label>Login<input type="text" placeholder="Digite seu e-mail" id="email" name="email" /></label>
    <label>Senha<input type="password" placeholder="Digite sua senha" id="password" name="password" /></label>
    <input class="btn-primary btn-small" type="submit" value="Entrar" onclick="window.location.reload();" /><br>
    Esqueceu sua senha? <a href="#">clique aqui.</a>
</form>
{/if}