/* 
    Created on : 21/08/2013, 16:03:02
    Author     : Thiago Moreira <loganguns@gmail.com>
*/

/* Guia da Baixada CUSTOMIZAÇÃO
================================================== */

#guiaResultadoBusca	{border:1px solid #CCC;}
.guiaResultadoBuscaGoogle img	{ width:100%; height:105px; margin:0 0 10px 0;}


.guiaResultadoBuscaAnuncio	{
        border-top:1px solid #CCC;
        padding:5px;
        padding-bottom: 40px;
        font-size:15px;}
.guiaResultadoBuscaAnuncio:last-child{
        border-bottom:1px solid #CCC;}
.guiaResultadoBuscaAnuncio h2	{ font-size:16px; border-bottom:1px solid #CCC;}

.guiaResultadoBuscaAnuncio:hover	{ background:#EAF0FF;
        border-top:1px solid #FC0;
        border-bottom:1px solid #FC0;}

.guiaResultadoBuscaGoogle{ padding:10px;text-align: center; vertical-align: central;}

.guiaResultadoBuscaGooglePaginacao	{border-top:1px solid #CCC; border-bottom:1px solid #CCC; text-align:center; padding:10px; background:#F2F2F2;}

#guiaResultadoBuscaCadastroNovo	{ padding:20px 0; font-size:16px; background:#E8F4FF; border-top:2px solid #039; text-align:center;}
#guiaResultadoBuscaCadastroNovo a	{ color:#F60;}
#guiaResultadoBuscaCadastroNovo a:hover	{ color:#B9000E;}
.bigModal{
    width:1024px;
    margin-left:-512px;
    margin-top: -50px;
 }
 
 .top-search {
  position: relative;
  width: 100%;
  background-color: #f1f1f1;
  color: #444;
  padding: 5px 0;
  border-bottom: 1px solid #e9e9e9;
  z-index: 999;
  //display: none;
  height: 45px;
}
.top-search ul li a:hover {
  border-left-color: #30304d;
}

.anuncioConteudo{
    padding: 10px;